.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
#img_file_cover {
  height: 300px;
  width: 250px;
  display: none;
}
.descr-cover {
  height: 75px;
  width: 350px;
}
