body {
  font: 13px/1.85 "SegoeUI", Tahoma, Geneva, sans-serif;
  color: #000;
  background: #ebebeb;
  margin-bottom: 60px;
  min-height: 900px;
}

.ico-rating,
.ico-info,
.ico-plus,
.ico-minus,
.ico-clip,
.ico-text,
.ico-album,
.ico-star,
.ico-discus,
.ico-flag,
.ico-bin,
.ico-smile,
.ico-music,
.ico-comment,
.ico-comment-count,
.ico-pr-mail,
.ico-pr-comment,
.ico-pr-settings,
.ico-pr-mail2,
.ico-pr-settings2,
.ico-refresh {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons.png) 0 -9999px no-repeat;
}

.row {
  margin: auto;
}

.container-fluid {
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: "SegoeUI Bold", Tahoma, Geneva, sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

a:hover {
  color: red;
}

/*----------header--------------*/

.middle {
  min-width: 1000px;
  max-width: 1300px;
  background: #fff;
}

header {
  padding-top: 15px;
}

header .logo {
  width: 140px;
  position: relative;
  float: left;
  margin: -2px 5px 0 19px;
  background: url(../img/logo.png) 1px 0 no-repeat;
  padding: 0;
}

header .logo a {
  display: block;
  min-height: 30px;
  text-decoration: none;
}

header .logo .name {
  display: block;
  height: 18px;
  overflow: hidden;
  text-indent: -9999px;
}

header .logo .text {
  font: bold 11px/3.2 "SegoeUI Bold", sans-serif;
  color: #c7c7c7;
  text-transform: uppercase;
}

.add_album {
  position: relative;
  width: 180px;
  margin-right: -15px;
}

.button-a span:hover,
.add_album .button-a:hover span,
.soc_hover:hover,
.new_album .upload_file .button-a span:hover {
  background: rgba(255, 255, 255, 0.2);
}

.add_album .button-a span {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
}

.button-a span,
.soc_hover {
  display: inline-block;
  vertical-align: top;
  height: inherit;
  width: 100%;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
}

.button-a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #af8def;
  font: bold 13px/30px "SegoeUI Bold", Tahoma, sans-serif;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-a:hover {
  text-decoration: none;
}

.navbar-form {
  margin: auto;
}

.navbar-form {
  padding: 0;
}

header .search-box {
  float: left;
}

header .search-box .form-control {
  float: left;
  width: 375px;
  height: 30px;
  padding-left: 15px;
  background: #eee;
  border-radius: 30px 0 0 30px;
  border: 0;
}

header .search-box .btn-default {
  position: relative;
  margin-left: -4px;
  height: 30px;
  padding: 0 19px 0 10px;
  background: #af6fef;
  border-radius: 0 30px 30px 0;
  border: 0;
  font: bold 13px/28px "SegoeUI Bold", Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

header .aside {
  display: inline-block;
  width: 22.46%;
  float: right;
  margin-top: 4px;
  padding-right: 15px;
}

header .aside a {
  margin-left: 8px;
}

.ico-music {
  width: 18px;
  height: 20px;
  background-position: -30px 0;
}

.ico-info {
  width: 19px;
  height: 20px;
  background-position: 0 0;
  margin-top: 3px;
}

header .aside .button-a {
  margin-top: -3px;
  margin-left: 22px;
}

.button-a.v2 {
  background: #ed5565;
  width: auto;
}

/*-----------header navigation---------*/

nav {
  padding: 7px 15px 7px;
  background: #a28def !important;
  border: none !important;
}

.navbar {
  margin: auto;
}

.navbar-collapse {
  padding: 0;
}

.main-nav li {
  float: left;
  margin: 0 16px 0 0;
  list-style: none;
  font: bold 14px/39px "SegoeUI Bold", Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.main-nav li a {
  float: left;
  height: 40px;
  padding: 10px 13px;
  color: #fff !important;
  text-decoration: none;
}

.main-nav li a:hover {
  background: #b398ef !important;
  color: #fff;
}

/*---------header row_3 alphabet----------*/

.row_3 {
  overflow: hidden;
  padding: 10px 10px 10px 15px;
  font: bold 13px/1.2 "SegoeUI Bold", Tahoma, sans-serif;
}

.row_3 ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: auto;
}

.row_3 li {
  float: left;
  margin: 0;
  list-style: none;
  border-left: 1px solid #dff4fc;
}

.row_3 li:first-child {
  border-left: 0;
}

.row_3 a {
  float: left;
  padding: 2px 4px 4px 3px;
  color: #a28def;
  text-decoration: none;
}

/*-------------------left-panel----------------*/

.side_col h3,
.aside_col h3 {
  margin-bottom: 15px;
  font-size: 17px;
  text-transform: uppercase;
}

.side_nav ul {
  list-style-image: url(../img/ico_list.png);
}

.side_nav ul li:hover {
  list-style-image: url(../img/ico_list_hover.png);
}

.side_block {
  margin: 10px 5px;
  padding: 15px 0;
  border-top: 1px solid #e9e9e9;
}

.side_list h3 {
  font-size: 16px;
}

.side_list ul {
  padding: 9px 0 7px;
}

.side_list li {
  margin: 0 0 10px;
  list-style: none;
  padding-left: 38px;
  padding-top: 2px;
  min-height: 26px;
}

.side_list li .vis {
  float: left;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50px;
  margin: -2px 0 0 -38px;
}

.side_list li .vis img {
  min-height: 32px;
  max-height: 32px;
  min-width: 100%;
}

.aright {
  float: right;
}

/*----------------right-panel----------*/

.right_panel {
  display: flex;
  flex-direction: column;
}

.register_button {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 26px 0 22px;
}

.register_button .row {
  margin: 0;
}

.register_button .button-a {
  display: block;
  margin: 5px 0;
}

.button-a.v3 {
  margin: 16px 0;
  background: #fb8745;
}

.button-a.v4 {
  background: #fb8745;
}

/*modal window
.modal {
  display: flex;
  align-items: center;
}*/

@media (min-width: 768px) {
  .modal-dialog {
    position: relative;
    /*width: 15%;*/
    margin: 120px auto;
    vertical-align: middle;
  }
}

.soc_registration {
  display: flex;
  justify-content: space-around;
}

.link {
  color: #8b8b8b;
  text-align: center;
}

/*modal window end*/

.new_list {
  margin: 10px 0 24px;
}

.news {
  color: #8b8b8b;
}

.news-list p {
  font-weight: normal;
  line-height: 1.89;
}

/*-----------middle_сontent-----------*/
.content_middle h3 {
  margin-bottom: 27px;
  text-transform: uppercase;
  line-height: 1.71;
  font-size: 13pt;
  font-weight: bold;
}

.content_middle hr {
  margin: 20px -15px;
  height: 1px;
  background: #f1f1f1;
  overflow: hidden;
  border: 0;
  -moz-box-shadow: 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0 #fcfcfc;
}

.main {
  overflow: hidden;
  background: #f6f6f6;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.content_middle {
  padding: 5px 15px 0;
  margin-bottom: 10px;
  background: #f8f8f9;
  min-height: 700px;
}

.content h1 {
  margin: 5px 0 15px;
}

h1 {
  font-size: 18px;
}

.nice-text {
  font: 13px/1.1 "SegoeUI", Tahoma, Geneva, sans-serif;
}

/*------------soc-seti--------------*/

.soc_seti {
  display: flex;
  justify-content: space-around;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.soc_seti .container-fluid {
  margin: auto 0;
}

.link_soc {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  white-space: nowrap;
}

.soc_bage {
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  color: #fff;
  overflow: hidden;
  position: relative;
  font-size: 12px;
}

.size_icon {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
  display: inline-block;
  vertical-align: top;
}

.soc_visible {
  height: 24px;
  width: 24px;
  display: inline-block;
  border-left: #d4d4d4 solid 1px;
  padding: 0 5px 0 5px;
}

.soc_title {
  display: none;
}

.soc_vk {
  background-color: #48729e;
}

.vk_icon {
  background-image: url(../img/vk.svg);
}

.soc_f {
  background-color: #3c5a98;
}

.f_icon {
  background-image: url(../img/f.svg);
}

.soc_o {
  background-color: #ff9f4d;
}

.o_icon {
  background-image: url(../img/o.svg);
}

.soc_g {
  background-color: #db4437;
}

.g_icon {
  background-image: url(../img/g.svg);
}

.soc_m {
  background-color: #4776a6;
}

.soc_vk .soc_hover .soc_visible:empty,
.soc_f .soc_hover .soc_visible:empty,
.soc_o .soc_hover .soc_visible:empty,
.soc_g .soc_hover .soc_visible:empty,
.soc_m .soc_hover .soc_visible:empty,
.soc_v .soc_hover .soc_visible:empty,
.soc_w .soc_hover .soc_visible:empty {
  display: none;
}

.m_icon {
  background-image: url(../img/m.svg);
}

.soc_v {
  background-color: #4776a6;
}

.v_icon {
  background-image: url(../img/v.svg);
}

.soc_w {
  background-color: #65bc54;
}

.w_icon {
  background-image: url(../img/w.svg);
}

/*--------------top_play-----------*/

.top_play h3 .content h3 {
  margin-bottom: 27px;
  text-transform: uppercase;
  line-height: 1.71;
}

.player-inline {
  padding-top: 5px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.ico_clip,
.ico_text {
  display: inline-block;
  vertical-align: middle;
}

.btn_play_stop {
  background-color: #a28def;
  border-radius: 50%;
  color: white;
  transition-property: background, opacity;
  transition-duration: 0.5s;
}

.details {
  overflow: hidden;
  padding-bottom: 5px;
  font-size: 12px;
}

.artist {
  position: relative;
  display: inline-block;
  line-height: 1.2;
  font-family: "SegoeUI Bold", Tahoma, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.audio_size {
  float: right;
}

.details .icons {
  float: right;
  margin-top: -25px;
}

.details .icons span {
  margin-left: 5px;
}

.ico_clip {
  width: 17px;
  height: 14px;
  background-position: 0 -186px;
}

.ico_text {
  width: 14px;
  height: 14px;
  background-position: 0 -216px;
}

.icons a {
  text-decoration: none;
  color: #a28def;
}

.control {
  float: right;
  min-width: 114px;
  line-height: 1.2;
}

.control a {
  font-weight: bold;
  font-size: 10pt;
}

.add_to_pl {
  width: 19px;
  height: 19px;
  padding: 3px;
  background-color: #a28def;
  border-radius: 50%;
  color: #fff;
  float: right;
  cursor: pointer;
}

.save_to_pl {
  color: #a28def;
  float: right;
  cursor: pointer;
  padding-left: 5px;
}

.time_size {
  display: flex;
  justify-content: space-around;
  padding-top: 7px;
  white-space: nowrap;
  min-width: 123px;
  text-align: right;
}

.time_song {
  position: relative;
  border-right: grey 1px solid;
  padding-right: 5px;
}

.time_song,
.size_file {
  display: inline-block;
}

/*--------------top-list---------*/

.top_list ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.plalists .top_list ul {
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  padding: 0;
}

.plalists .top_list li {
  float: left;
  width: 125px;
  margin-left: 0;
}

.top_list li {
  position: relative;
  display: table-cell;
  list-style: none;
  font: bold 14px/1.2 "SegoeUI Bold", Tahoma, sans-serif;
  text-transform: uppercase;
  margin-right: 25px;
}

.top_list li a {
  display: block;
  margin: 0 0 10px 6px;
  padding: 5px;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.top_list li:first-child {
  margin-left: 15px;
}

.top_list li.active a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #a28def;
}

.card_list {
  padding: 0 10px;
}

.card_list .container a img {
  height: 270px;
  width: 270px;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 247px;
  margin: 0 4px 23px;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
  font-size: 1em;
  position: relative;
  min-height: 120px;
  padding: 15px 5px 15px 10px;
  background: #000;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-text {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  clear: both;
  margin-top: 0.5em;
  color: #fff;
}

.card-text a {
  color: #fff;
}

.card-text span {
  margin-top: 15px;
}

.meta {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta a {
  color: #fff;
  text-decoration: underline;
}

.meta a:hover {
  text-decoration: none;
}

/*-------------radiostation-------------*/

.radio_list {
  position: relative;
  align-items: center;
  margin: 20px -10px;
}

.radio_list .item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
  margin: 0 4px 23px;
}

.radio_list .item .vis {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8px;
}

.vis img {
  display: block;
}

.radio_list .container {
  position: relative;
  width: 100%;
  padding: 0;
}

.radio_list .item .container:hover .overlay {
  height: 100%;
}

.radio_list .item .vis .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(175, 141, 239, 0.55);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.radio_list .item .vis .overlay:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 71px;
  height: 71px;
  margin: -40px 0 0 -35px;
  background: url(../img/ico-play.png) no-repeat;
}

/*----------album-list---------*/

.card .container {
  position: relative;
  width: 100%;
  padding: 0;
}

.overlay ul {
  padding: 15px;
}

.overlay ul li {
  margin: 0 0 5px;
  list-style: none;
  color: #fff;
}

.overlay ul li a {
  margin: 0 0 5px;
  list-style: none;
  color: #fff;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 30%;
}

.album_list .card .card-block .card-text {
  display: block;
  clear: both;
  margin-top: 1.5em;
  color: #fff;
}

/*-------------lastsongs------------*/
.lastsongs {
  padding: 7px 0 10px;
}

.lastsongs a {
  position: relative;
  border-right: 1px grey solid;
  padding: 0 3px;
}

.lastsongs a:last-child {
  border: none;
}

/*-------Footer-play-------*/

.footer_play {
  background-color: #a28def;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 15px;
  color: #eaf6f9;
}

.btn-group {
  align-items: center;
  background-color: #a28def !important;
  width: 100%;
  margin: auto;
}

.aligned {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 28%;
}

.aligned_input {
  text-align: center;
  padding-bottom: -10%;
}

.aligned_text {
  text-align: center;
  font-size: 88%;
}

.no:hover {
  background: none;
}

.no:active {
  background: none;
}

#seconds {
  font-size: 10px;
}

.btn-custom {
  background-color: #a28def;
  color: white;
  transition-property: background, opacity;
  transition-duration: 0.5s;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  cursor: pointer;
  opacity: 0.5;
  color: white;
  background-color: black;
}

/*------------pleer--------------*/

.scrubber {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player-controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

#seekObjContainer {
  width: 100%;
}

progress {
  width: 100%;
  z-index: 5;
}

progress p {
  color: #000;
  z-index: 10;
}

.start-time {
  float: left;
  position: relative;
}

.end-time,
.start-time {
  float: right;
  position: relative;
  margin-left: 10px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: blue;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#acacac, 20%);
  color: blue;
}

progress::-webkit-progress-value {
  background-color: blue;
}

.footer_play p {
  font-size: 1.6rem;
}

/*-----------------footer_bot------------------*/
.footer_instruction {
  clear: both;
  overflow: hidden;
  padding: 34px 11px 10px;
  font: 12px/2 Tahoma, sans-serif;
}

.footer_bot {
  width: 1300px;
  padding: 12px 11px 18px;
  background: #f6f6f6;
  font: 12px/2 Tahoma, sans-serif;
  height: 130px;
  margin: auto;
}

.footer-text {
  font: 12px/1.1 "SegoeUI", Tahoma, Geneva, sans-serif;
  overflow: hidden;
}

/*------------pagination-----------*/
.pagination-sm {
  list-style: none;
}

.pagination > li > a,
.pagination > li > span {
  border: none;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #a28def;
  text-decoration: none;
}

.pagination-sm li {
  float: left;
  font-weight: bold;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #a28def;
  color: #fff;
}

/*------------chat-----------*/
.filter {
  display: flex;
  justify-content: space-between;
}

.filter button {
  margin: 0 5px;
}

.filter button span {
  background-color: #cdbbff;
  border: #a28def 2px solid;
}

.chat .right {
  position: relative;
  text-align: left;
}

.chat th,
.chat td {
  text-align: right;
}

/*-----------aploder_page---------------*/
.profile_page {
  position: relative;
  margin: 50px auto;
}

.profile_page .vis {
  float: left;
  width: 123px;
  height: 123px;
  overflow: hidden;
}

.profile_name {
  display: flex;
  justify-content: flex-start;
}

.profile_name h3 {
  display: inline-block;
  margin: 0;
}

.profile_name .row {
  margin: 0 10px 5px 10px;
}

.profile_name button,
.profile_edit button {
  width: 20%;
}

.profile_page .glyphicon,
.profile_edit .glyphicon {
  margin-left: 10px;
  padding: 7px 0;
  color: #a28def;
  font-size: 12pt;
}

.profile_page .status .profile_edit .status {
  margin-bottom: 10px;
  color: #b5b5b5;
}

.profile_page .container-fluid:not(.vis) {
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  justify-content: flex-start;
}

/*-------------artist page-------------*/
.artist_img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

/*----------password_recovery------------*/
.password_recovery .form-group input,
.password_recovery .form-group button {
  width: 50%;
}

/*---------profile_edit-----------*/
.profile_edit .avatar_edit .vis {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
}

.profile_edit .avatar_edit .vis img {
  position: relative;
  margin-left: 150px;
}

.profile_edit button {
  display: inline-block;
  width: auto;
}

.profile_edit select.form-control {
  margin-bottom: 25px;
}

.profile_edit table {
  margin-bottom: 20px;
}

/*-------profile block-------------*/
.profile_block {
  background-color: white;
  width: auto;
  margin: 10px 0;
  padding: 0;
}

.profile_block .row {
  padding: 5px 10px;
}

.profile_block .vis span {
  padding: 5px;
  font-size: 23pt;
  color: #a28def;
  float: left;
  overflow: hidden;
}

.profile_block .name {
  padding: 3px 0 6px;
  font: bold 12px/1 "SegoeUI Bold", Tahoma, sans-serif;
  text-transform: uppercase;
}

.profile_block .log-out {
  margin-left: 3px;
}

.profile_block .details {
  font: 12px/1 Tahoma, sans-serif;
  color: #b5b5b5;
  margin: 3px auto;
}

.middle_line_profile {
  min-height: 10px;
}

.middle_line_profile {
  background-color: #a28def;
}

.middle_line_profile a {
  color: #fff;
  margin: 3px;
  text-decoration: none;
}

.profile_block .row_3 {
  padding: 10px 0;
  font: bold 13px/1.2 "SegoeUI", Tahoma, sans-serif;
}

/*-------upload album---------*/
.description_album label {
  vertical-align: top;
}

.description_album textarea {
  position: relative;
  min-width: 35%;
}

.new_album .button-a {
  width: auto;
}

input[type="file"] {
  display: inline-block;
  /*opacity: 0;*/
  position: absolute;
  clip: rect(auto, auto, auto, 10px);
  width: 14%;
  padding: 0 4px 0 4px;
}

.new_album .new_album form .form-group {
  position: relative;
  display: flex;
}

.new_album form .form-group .name_album {
  position: relative;
  width: 35%;
  display: inline-block;
}

.new_album form select {
  position: relative;
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}

.upload_file .form-control span.button-a {
  display: flex;
  justify-content: center;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #af8def;
  font: bold 13px/30px "SegoeUI Bold", Tahoma, sans-serif;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.new_album form .selection_genre {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.form-group .button_1 {
  position: relative;
}

/*-------description_artist------*/
.description_artist {
  position: relative;
  display: block;
}

.album_img a img {
  width: inherit;
  border: #e6e6e6 5px solid;
  border-radius: 5px;
}

.album_nav {
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.album_nav button {
  height: 50px;
  margin: auto 25px;
}

.album_nav button span {
  background-color: #ffc9bd;
  border: #a28def 2px solid;
  padding: 3%;
}

.hr_list {
  background: #a28def !important;
}

.album_name .glyphicon-cd {
  color: #a28def;
  margin-right: 5px;
}

/*----------album_a------------*/
.album_type ul {
  display: flex;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap; /* Safari */
  -webkit-align-content: stretch; /* Safari */
  flex-wrap: wrap;
  align-content: stretch;
}

.album_type ul li {
  position: relative;
  margin-right: 25px;
}

/*-------реклама----------*/
.ad img {
  width: 100%;
  margin: auto;
}

.ad {
  text-align: center;
}

.popup {
  display: none;
  position: relative;
  border: 1px solid #af8def;
  background: #fff;
  margin: -100px 0 0 -100px;
  z-index: 1000;
  border-radius: 10px;
  padding: 30px;
}

.close {
  display: block;
  width: 24px;
  text-align: center;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  background: #fff;
  color: #000000;
  position: absolute;
  top: 0px;
  right: 2px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}
/*--------------------------*/
.bokeh {
  border: 0.01em solid rgba(150, 150, 150, 0.1);
  border-radius: 50%;
  font-size: 100px;
  height: 1em;
  list-style: outside none none;
  margin: 0 auto;
  position: relative;
  top: 35%;
  width: 1em;
  z-index: 2147483647;
}
.bokeh li {
  border-radius: 50%;
  height: 0.2em;
  position: absolute;
  width: 0.2em;
}
.bokeh li:nth-child(1) {
  animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
  background: #5613db none repeat scroll 0 0;
  left: 50%;
  margin: 0 0 0 -0.1em;
  top: 0;
  transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
  animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
  background: #ff003c none repeat scroll 0 0;
  margin: -0.1em 0 0;
  right: 0;
  top: 50%;
  transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
  animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
  background: #402c68 none repeat scroll 0 0;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -0.1em;
  transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
  animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
  background: #af8def none repeat scroll 0 0;
  margin: -0.1em 0 0;
  top: 50%;
  transform-origin: 250% 50% 0;
}
@keyframes opa {
  12% {
    opacity: 0.8;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.6;
  }
  66.6% {
    opacity: 0.52;
  }
  70% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.6;
  }
  84.2% {
    opacity: 0.75;
  }
  91% {
    opacity: 0.87;
  }
}

@keyframes rota {
  100% {
    transform: rotate(360deg);
  }
}

/*  SOUNMANAGER 2 */
.sm2-bar-ui {
  font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
  background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
  background: transparent;
}

.player-playlist {
  /* display: none; */
  max-height: 200px;
  overflow-y: auto;
}